{% extends 'base.html.twig' %}

{% block title %}Modifier le jeu{% endblock %}

{% block body %}
    <h1>Modifier le jeu video</h1>

    {{ include('jeu_video/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="page-actions">
        {{ include('_back_button.html.twig', { 'href': path('app_jeu_video_index'), 'label': 'Revenir à la liste', 'classes': 'btn-secondary' }) }}
        {{ include('jeu_video/_delete_form.html.twig') }}
    </div>
{% endblock %}
