{% extends 'base.html.twig' %}

{% block title %}New JeuVideo{% endblock %}

{% block body %}
    <h1>Create new JeuVideo</h1>

    {{ include('jeu_video/_form.html.twig') }}

    <div class="page-actions">
        <a class="btn btn-secondary" href="{{ path('app_jeu_video_index') }}">Retourner à la liste</a>
    </div>
{% endblock %}
