{% extends 'base.html.twig' %}

{% block title %}Modifier le genre{% endblock %}

{% block body %}
    <h1>Modifier le genre</h1>

    {{ include('genre/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="page-actions">
        <a class="btn btn-secondary" href="{{ path('app_genre_index') }}">Retourner à la liste</a>
        {{ include('genre/_delete_form.html.twig') }}
    </div>
{% endblock %}
