{% extends 'base.html.twig' %}

{% block title %}Modifier l'éditeur{% endblock %}

{% block body %}
    <h1>Modifier l'éditeur</h1>

    {{ include('editeur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="page-actions">
        <a class="btn btn-secondary" href="{{ path('app_editeur_index') }}">Retourner à la liste</a>
        {{ include('editeur/_delete_form.html.twig') }}
    </div>
{% endblock %}
