{% extends 'base.html.twig' %}

{% block title %}Nouvel éditeur{% endblock %}

{% block body %}
    <h1>Ajouter un éditeur</h1>

    {{ include('editeur/_form.html.twig') }}

    <a href="{{ path('app_editeur_index') }}">Retourner à la liste</a>
{% endblock %}
