parameters:

services:
    _defaults:
        autowire: true      
        autoconfigure: true 

    App\:
        resource: '../src/'

    App\Menu\MenuBuilder:
        arguments: ['@knp_menu.factory']
        tags:
            - { name: knp_menu.menu_builder, alias: main, method: createMainMenu }           
